<div class="columns is-paddingless is-mobile">
  <div class="column is-two-fifths is-hidden-mobile padding-right-0 padding-bottom-0">
    <app-background backgroundImage="url('/assets/background-login.jpg')"></app-background>
  </div>
  <div id="login" class="column is-paddingless is-flex">
    <div class="wrapper-centered">
      <app-notification
        *ngIf="queryParams.get('created')"
        message="User created successfully, please login to access dashboard"></app-notification>
      <app-notification
        *ngIf="!validLogin"
        type="danger"
        [closeable]="false"
        message="Invalid email or password"></app-notification>
      <div class="logo-wrapper">
        <img src="assets/isotype.png" alt="Isotype">
        <div class="title has-text-primary">Login</div>
        <div class="subtitle">Login to access dashboard</div>
      </div>
      <form class="has-text-centered" [formGroup]="loginForm">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="email"
              formControlName="email"
              placeholder="Email"/>
            <span class="icon is-small is-left"><i class="far fa-envelope"></i>|</span>
            <span
              class="hint has-text-danger"
              *ngIf="email.invalid && email.touched && email.errors.required">
            This field is required.
          </span>
            <!--suppress TypeScriptUnresolvedVariable -->
            <span
              class="hint has-text-danger"
              *ngIf="email.invalid && email.touched && email.errors.email">
            Invalid format
          </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="password"
              formControlName="password"
              placeholder="Password"
              [ngClass]="{'is-danger': this.password.touched && this.password.error?.required}">
            <span class="icon is-small is-left"><i class="far fa-lock"></i>|</span>
            <span
              class="hint has-text-danger"
              *ngIf="password.invalid && password.touched && password.errors.required">
            This field is required.
          </span>
          </p>
        </div>
        <div class="buttons is-centered">
          <button
            class="button is-medium is-primary"
            [ngClass]="{'is-loading': isLoading}"
            [disabled]="loginForm.invalid"
            (click)="login()">
            Login
          </button>
        </div>
      </form>
      <div class="forgot-password">
        <a href="#">¿Forgot password?</a>
      </div>
      <div class="sign-up">You don't have an account? <a routerLink="/signup" class="has-text-primary">Sign up</a></div>
    </div>
  </div>
</div>
