@charset "utf-8";

// Overwritten bulma variables
$primary: #E95A0C;
$input-background-color: #F2F2F2;
$input-border-color: transparent;
$input-hover-border-color: transparent;
$input-focus-border-color: #60686F;
$input-color: #60686F;
$input-focus-color: #A2A2A2;
$input-placeholder-color: #A2A2A2;
$danger: #D34545;
$button-background-color: #989898;
$button-border-color: #989898;
$button-text-color: #FFFFFF;
$button-disabled-background-color: #989898;
$button-disabled-border-color: #989898;
$family-sans-serif: 'Roboto', sans-serif;
$weight-bold: 500;
$title-size: 28px;
$title-weight: 500;
$subtitle-size: 16px;
$subtitle-weight: 400;

@import "../node_modules/bulma/bulma.sass";

//  INPUTS
.control {
  color: $input-focus-color;

  .input {
    color: $input-focus-color;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
      color: $input-color;
    }

    &.ng-invalid.ng-touched {
      border-color: $danger;
    }
  }

  &.has-icons-right, &.has-icons-left {
    .input {
      padding-left: 3em;

      & ~ .icon {
        color: $input-focus-color;
        width: 3em;
      }

      &:focus ~ .icon {
        color: $input-focus-color;
      }
    }
  }

  &.has-icons-left {
    .input ~ .icon i {
      margin-right: 12px;
    }
  }

  .hint {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 12px;
    margin-top: 6px;
  }
}

//  CHECKBOX
.checkbox {
  font-size: 13px;
  color: $input-color;
  cursor: default;

  &:hover {
    color: $input-color;
  }

  a {
    color: $input-color;
    font-weight: $weight-bold;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}

//  BUTTONS
.button {
  border-radius: 5px;
  color: #FFFFFF;
  transition: .16s all ease-out;
  background-color: #989898;
  border-color: #989898;


  &[disabled] {
    opacity: .5;
    color: #FFFFFF;
  }

  &:hover:not([disabled]) {
    border-color: $primary;
    background-color: $primary;
    color: #FFFFFF;
  }

  &:active, &:focus:not(:active), &.is-focused:not(:active) {
    box-shadow: none;
    border-color: $primary-dark;
    background-color: $primary-dark;
    color: #FFFFFF;
  }

  &.is-medium {
    font-size: 20px;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
  }

  &.is-white {
    &:hover {
      color: #FFFFFF;
      transition: .16s all ease-out;
      background-color: #60686F;
      border-color: #60686F;
    }

    &:active, &:focus:not(:active), &.is-focused:not(:active) {
      box-shadow: none;
      border-color: #989898;
      background-color: #989898;
      color: #FFFFFF;
    }
  }
}

.padding-right-0 {
  padding-right: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}
